#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E6B422;
    height: 12vh;
}

.title-wrapper  {
    margin-left: 59px;
}

.header-button {
    background: #E6B422;
    width: 174px;
    height: 52.48px;
    border: solid 1px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0 20px;
    box-shadow: 4px 3px 8px -3px rgba(0, 0, 0, 0.5);
}
